
*{
	margin: 0;
	padding: 0;

}
#particles-js{
    background:blueviolet;
    height: 350vh;
}

.nav-bar
{
	opacity: 1;
	background:rgba(0, 0, 0, 0.4);
	height: 80px;
}
.logo
{
	margin: 10px 50px;
	height: 60px;
	align-content: center;
	
}

.menu
{
	float: right;
	list-style: none;
	margin: 30px;
}


.menu li
{
	display: inline-block;
	margin: 10px 5px;
}
.menu li a
{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font: bolder;
	letter-spacing: 2px;
	
}
.menu li a:hover
{
	background:hsl(60, 19%, 93%);
	transition: .4s;
	color: #262626;
}
.logo
{
	margin: 10px 50px;
	height: 60px;
	

}
.box
{
	position: absolute;
	top: 14vh;
	background:transparent;
	opacity: 1;
	width: 100%;
	height: 100%;
}

.search
{
	position: absolute;
	left: 20%;
	background:transparent;
	opacity:1;
	width: 80%;
	height: 100%;
}


.search input[type="text"]
{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 30px;
	width: 35%;
	height: 20px;
	border:none;
	background:whitesmoke;
	height: 40px;
	font-size: 20px;
	border: 1px solid #ccc;
	color:rgb(155, 143, 143);
	border-radius: 12px;
	box-sizing: border-box;

}
::placeholder
{
	color: rgb(75, 73, 73);
}
.search input[type="submit"]
{
	margin-bottom: 20px;
	width: 10%;
	height: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background:orangered;
	cursor: pointer;
	border-radius: 20px;
}
.search input[type="submit"]:hover
{
	
	background:greenyellow;
	color: #262626;
}

.dropdown {
    position: relative;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font: bolder;
	letter-spacing: 2px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #928d8d}

.dropdown:hover .dropdown-content {
	display: block;
	background:hsl(60, 19%, 93%);
	transition: .4s;
	color: #807777;

}

.dropbtn {
    background-color: rgb(154, 180, 155);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.doctor
{
	position: relative;
	opacity:1;
	background:rgba(0, 0, 0, 0.4);
	width: 80%;
	height: 30%;
	 
}
.name{
	position: absolute;
	top: 15px;
	margin-left: 10px;
	border-right:outset;
	height: 80%;
	width: 40%;
}
.name img
{
	width:40%;
	height: 100%; 
}
h3{
	color:white;
	font-style:normal;
	
}

.name h3,h1
{
	margin-left: 44%;

}
.pic {
	position: absolute;
	margin-top: 10px;
	width:100%;
	height: 100%; 
}

.location{
	position: absolute;
	top: 15px;
	left: 40%;
	border-right:outset;
	height: 80%;
	width: 40%;
}
.location img{
	margin-left: 20px;
	margin-top:10px;
	width: 15%;
	height: 30%;
}
.location h3{
	margin-left: 30%;
}
.pic {
	position: absolute;
	width:100%;
	height: 100%; 
}
.call{
	position: absolute;
	top: 15px;
	left: 80%;
	height: 70%;
	width: 30%;
}
.call img{
	margin-left: 20%;
	margin-top: 10px;
	width: 20%;
	height: 30%;
}
.call h3{
	margin-left: 20%;
	margin-top: 5%;
}
.call input[type="submit"]
{
	border: none;
	margin-left: 20%;
	outline: none;
	width:90px;
	height: 40px;
	color: rgb(199, 132, 132);
	font-size: 16px;
	background: greenyellow;
	cursor: pointer;
	border-radius: 20px;
}
.checked {
    color: orange;
}